* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(42, 67, 207, 0.692);
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

.btn, .begin-btn, .contin-btn {
    width: 100px;
    height: 50px;
    border: 2px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    font-size: 15px;
}

.btn:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

.begin-btn:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

.hide{
    display: none;
}

.contents{
    background-color: none;
}

#questions{
    font-size: 50px;
}

#pos-answers{
    display: flex;
    flex-direction: column;
    background-color: azure;
    justify-content: center;
    align-items: center;
}